.footer {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 72px;
  background-color: white;
  padding: 15px 0; /* 세로방향 가로방향 */
  border-top: 1px solid #ccc; /* 아래에 테두리 추가 */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: lightgrey;
  color: black;
  text-decoration: none;
  font-size: 16px;
  white-space: nowrap; /* 줄바꿈 방지 */
  overflow: hidden;
  display: flex;
  align-items: center; /* 수직방향 가운데 정렬 */
  justify-content: center; /* 수평방향 가운데 정렬 */
  margin: 0 12px;
}

.footer-button:hover {
  background-color: grey; /* 커서를 올렸을 때 */
  color: white;
}
